@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --width: 600px;
    --width-padding: 20px;
    --background: white;
    --light-background: #CAF0F8;
    --intense-background: #90E0EF;
    --highlight: #00B4D8;
    --darker-highlight: #0077B6;
    --dark: #03045E;
    --normal-font: Roboto, sans-serif;
    --header-font: "Roboto Slab", serif;

    --note-green: #a2d862;
}

body{
    font-family: var(--normal-font);
    background: var(--background);
    margin: 0;
}

nav#nav{
    background: var(--light-background);
    padding: 20px var(--width-padding);
    font-family: var(--header-font);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav__right{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    column-gap: 10px;
}

#nav__right a{
    color: black;
    text-decoration: none;
}

#nav__logo{
    font-size: 18px;
    font-weight: 900;
}

.modal__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal{
    width: var(--width);
    min-height: 200px;
    background: white;
    margin: 50px auto;
    padding: 20px;
}

.modal__header{
    font-size: 24px;
    font-family: var(--header-font);
    font-weight: 600;
}

.modal__description{
    font-family: var(--header-font);
    margin-top: 10px;
}

.modal__input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    resize: vertical;
    height: 200px;
}

.modal__actions{
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.modal__actions > *{
    background: var(--light-background);
    padding: 10px 20px;
    border-radius: 8px;
    font-family: var(--header-font);
    cursor: pointer;
}

.modal input{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.modal .close{
    color: red;
    cursor: pointer;
}

/* Surprisingly W3Schools actually gets the job done pretty well*/

.snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 10px; /* Center the snackbar */
    top: 130px; /* 30px from the bottom */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.snackbar:hover{
    opacity: 0.8;
}

.left button{
    background: var(--light-background);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin: 0 5px;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 160px; opacity: 0;}
    to {top: 130px; opacity: 1;}
}

@keyframes fadein {
    from {top: 160px; opacity: 0;}
    to {top: 130px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 130px; opacity: 1;}
    to {top: 160px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 130px; opacity: 1;}
    to {top: 160px; opacity: 0;}
}